<!DOCTYPE html>
<html>
  <head>
    <title>RedTide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.dig(:google, :api_key)}&libraries=places" %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <main class="w-full min-h-[100vh] bg-gray-50">
      <%= yield %>
    </main>
  </body>
</html>
